.heading
{
    font-size: 23px;
    width: 30%;
    margin:0px;
    box-shadow: 2px 2px 2px pink;
}

.model
{
    font-size: 20px;
    color:rgb(247, 8, 8);
    background-color:yellow;  
}